html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	/* background-color: #000; */
}

#container {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	height: 95%;
}

#heading {
	font-size: xx-large;
	/* background-color: #5962ee; */
	height: 5%;
	color: #000;
	text-align: center;
}

.tick text {
	font-size: 20px;
	fill: grey;
}

.tick line {
	font-size: 20px;
	stroke: grey;
}

.domain {
	stroke: grey;
}

.dot {
	stroke: #000;
	stroke-width: 0.5;
}

.larger {
	width: 20px;
	height: 20px;
}

th {
	position: sticky;
	top: 0; /* required for stickiness */
	background-color: #d2d2d2;
}

table,
td,
th {
	width: 100%;
	text-align: center;
	table-layout: fixed;
	/* border: 1px solid; */
	border-collapse: collapse;
	border-bottom: 1px solid #ddd;
	padding: 10px;
	font-size: 20px;
}

#table {
	overflow-y: auto;
}

#table_msg {
	font-size: 20px;
}

.highlight {
	background: #def;
}

.bar_g line {
	stroke: #def;
}
