body {
	margin: 0;
	overflow: hidden;
}

.tick text {
	font-size: 20px;
}

.dot {
	stroke: #000;
	stroke-width: 0.5;
}

#label_h1 {
	color: #1b9e77;
}

#label_h2 {
	color: #7570b3;
}

#label_h3 {
	color: #d95f02;
}

#host1 {
	accent-color: #1b9e77;
}

#host2 {
	accent-color: #7570b3;
}

#host3 {
	accent-color: #d95f02;
}
